<div class="card">
  <div class="content">
    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
    <div class="header">
      <%= comment.user.name %>
    </div>
    <div class="meta">
      <%= comment.created_at.to_s %>
    </div>
    <div class="description">
      <%= comment.text %>
    </div>
  </div>
</div>