.m-logo {
  height: 60px;
}

// SMACSS記法に挑戦してみましょうか!

.l-tweets-max-1200 {
  max-width: 1200px !important;
  margin: 0 auto;
}

.l-tweets-max-800 {
  max-width: 800px !important;
  margin: 0 auto;
}

.m-tweet {
  margin: 75px auto;
  padding: 5px;
}

.m-tweet-image {
  margin: 10px 0;
  display: flex;
  justify-content: center;

  img {
    object-fit: contain;
    width: 100%
  }
}

.m-tweet-menu {
  display: flex;
  justify-content: center;
  margin: 10px;
}
