.logo {
  height: 60px;
}

.tweets{
  width: 640px;
  margin: 30px auto;
  &__image{
    margin-top: 55px;
  }
  &__text{
    font-size: 20px;
    margin-top: 5px;
  }
}

.m-form {
  max-width: 800px;
}

.m-field {
  margin-bottom: 2rem !important;

  input {
    font-size: 1.25rem;
  }
}