<div class="ui top fixed inverted menu bg-skyblue">
  <%= image_tag "logo.png", class: "logo" %>
  <div class="right menu">
    <a class="item">Sign In</a>
    <button class="ui button bg-pink bg-pink-hover txt-white" style="margin: 5px 15px 5px 5px;">Tweet</button>
  </div>
</div>
