<div class="ui top fixed inverted menu bg-skyblue">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "logo" %>
  <% end %>
  <div class="right menu">
    <%= link_to 'SignIn with Facebook', user_facebook_omniauth_authorize_path, class: "item" %>
    <button class="ui button bg-pink bg-pink-hover txt-white" style="margin: 5px 15px 5px 5px;">
      <%= link_to "Tweet", new_tweet_path, style: "color: #fff" %>
    </button>
  </div>
</div>
