<div class="ui top fixed inverted menu bg-skyblue">
  <div class="item">
    <img src="#">
  </div>
  <a class="blue item">Features</a>
  <a class="item">Testimonials</a>
  <div class="right menu">
    <a class="item">Sign In</a>
    <button class="ui button bg-pink txt-white" style="margin: 5px 15px 5px 5px;">Tweet</button>
  </div>
</div>
